---
import Layout from '../layouts/PageLayout.astro';
---

<Layout title="3ds">
    <p>
        If you wish to do this yourself, the link for such is <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://3ds.hacks.guide/">here</a
        >.
    </p>
    <p>
        3DS homebrew<br />I will install the Homebrew app onto your system for you.<br />I can also install anything
        specifically you want.
    </p>

    <p>Provided service:</p>
    <ul>
        <li>Install the homebrew app via an exploit</li>
        <li>Install necessary media for brick prevention and homebrew use</li>
        <li>Perform backups in the case of a brick</li>
        <li>Install a specific homebrew application for you (optional)</li>
        <li>Anything else you could want (optional)</li>
    </ul>
    <p>What you need</p>
    <ul>
        <li>
            A 3DS family console <br />* Any 3DS/2DS line console works. List is 3DS, 3DS XL, 2DS, New 3DS, New 3DS XL,
            New 2DS XL.
        </li>
        <li>
            An SD card (or microSD card with adapter) with 2GB minimum space (recommended 32-128GB, nothing larger than
            that though.)
        </li>
    </ul>
    <p>Alright, you've decided you want to get homebrew for your 3DS? Contact me below to get started.</p>
</Layout>
