---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Home">
    <main>
        <h1>Alli's Homebrew Services</h1>
        <p class="instructions">
            If you would like one of the consoles below homebrewed, click on the link for information
        </p>
        <ul role="list" class="link-card-grid">
            <Card href="/homebrew/switch" title="Switch" body="Homebrew for the Switch." />
            <Card href="/homebrew/wii" title="Wii" body="Homebrew for the Wii." />
            <Card href="/homebrew/3ds" title="3DS" body="Homebrew for the 3DS." />
            <Card
                href="/homebrew/other"
                title="Other Systems"
                body="If you would like to contact me about a system not listed here, feel free to do so using this link."
            />
        </ul>
        <p class="instructions">
            Note: Price is for installation of homebrew media ONLY. Not done remotely. If you want to do it yourself,
            there is links to the tutorials on the page. This is for those who don't know how to or don't want to do it
            themselves. I will not provide SD cards or any sort of device for the homebrew. Console, SD card, harddrive
            etc is to be supplied by the customer. Currently not accepting deliveries.
        </p>
    </main>
</Layout>
