---
import Layout from '../layouts/PageLayout.astro';
---

<Layout title="Other">
    <p>
        If you have a device that you want homebrewed locally but is not a part of the list of items I do, I can <i
            >attempt</i
        > to homebrew it for you. As you will essentially be a guinea pig, I will charge less for it. If I am not willing
        to do a specific console, then please understand. Thank you.
    </p>
</Layout>
