---
import Layout from '../layouts/PageLayout.astro';
---

<Layout title="Switch">
    <p>
        If you wish to do this yourself, the link for such is <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://nh-server.github.io/switch-guide/">here</a
        >.
    </p>
    <p>
        Switch Homebrew<br />Full disclosure, I have not put homebrew onto a Switch before. However, I have a tool to
        help start up the process and have performed homebrew on other devices before.<br />If you would like to use the
        tool for yourself and then homebrew it yourself, feel free to ask below. If you trust me enough to install the
        homebrew for you, read below.<br />I will install Switch homebrew software for you, and can install anything you
        would like.
    </p>
    <p>Provided service:</p>
    <ul>
        <li>Install homebrew using the fusee-gelee</li>
        <li>Install necessary media for brick prevention and homebrew use</li>
        <li>Perform backups in the case of a brick</li>
        <li>Install a homebrew browser onto your system</li>
    </ul>
    <p>What you need</p>
    <ul>
        <li>
            A switch that is <a href="https://ismyswitchpatched.com/">hackable</a>. I will ask for your serial number to
            check if it is hackable.<br />* The Switch Lite and OLED editions are not hackable whatsoever. Only original
            Switch consoles that were released before the hardware change are hackable.
        </li>
        <li>A microSD card that is at least 64gb</li>
    </ul>
    <p>
        DISCLAIMER: The Custom Firmware for the Nintendo Switch is <b>volatile</b>. This means that if your Switch were
        to turn off fully (from shutting down, battery dying etc.) then the homebrew will no longer appear, and you will
        need to inject it yourself manually. For this reason I will be selling jigs, or recommend you pick one up
        yourself. I will also give a demonstration on how to reinstall the homebrew software onto the Switch.
    </p>
    <p>Alright, you've decided you want to get homebrew for your Switch? Contact me below to get started.</p>
</Layout>
