---
import Layout from '../layouts/PageLayout.astro';
---

<Layout title="Wii">
    <p>
        If you wish to do this yourself, the link for such is <a
            target="_blank"
            rel="noreferrer noopener"
            href="https://wii.hacks.guide/">here</a
        >.
    </p>
    <p>
        Wii homebrew<br />I will install the Homebrew app onto your system for you.<br />I can also install anything
        specifically you want (e.g. Riivolution/CTGP).
    </p>

    <p>Provided service:</p>
    <ul>
        <li>Install the homebrew app via an exploit</li>
        <li>Install necessary media for brick prevention and homebrew use</li>
        <li>Perform backups in the case of a brick</li>
        <li>Install the Homebrew Browser (OSCWii ver.) <br />* Can also do LibreShop if wanted</li>
        <li>Install a specific homebrew application for you (optional)</li>
        <li>Anything else you could want (optional)</li>
    </ul>
    <p>What you need</p>
    <ul>
        <li>
            A Wii console <br />* Wii U or Wii Mini is <i>possible</i>, however I have not done homebrew installation
            for either before.
        </li>
        <li>
            A USB stick (min 2GB, recommended 32GB+)<br />* Note: some software may need an SD card and cannot work with
            just a USB stick. I will let you know if you need one.
        </li>
    </ul>
    <p>Alright, you've decided you want to get homebrew for your Wii? Contact me below to get started.</p>
</Layout>
